body {
  font-family: 'Amatic SC', cursive;
  background-image: url("https://66.media.tumblr.com/1015ab2dffbdf66cfdfa8107b7432b7e/tumblr_inline_mlkyrmqtep1r53miq.png");
}

img {
  clip-path: circle();
}

img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.001);
}
