body {
  font-family: 'Amatic SC', cursive;
  background-image: url("https://st2.depositphotos.com/5366154/9592/v/950/depositphotos_95924838-stock-illustration-vector-geometric-seamless-pattern-background.jpg");
}

img {
  clip-path: circle();
}

img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.001);
}
